<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171297206309-8ujit9dvopb41iohsjal5kro1jh4b0t6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171297206309-8ujit9dvopb41iohsjal5kro1jh4b0t6</string>
	<key>API_KEY</key>
	<string>AIzaSyCiEVGN_WqW2gJGTmeM9hWUZ5z-wBelmj8</string>
	<key>GCM_SENDER_ID</key>
	<string>171297206309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brewApp</string>
	<key>PROJECT_ID</key>
	<string>iriho-brew</string>
	<key>STORAGE_BUCKET</key>
	<string>iriho-brew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171297206309:ios:196e179ca88d6a1489cfcc</string>
</dict>
</plist>